@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0284c7;
  --color-brand-600: #025ea3;
  --color-brand-700: #034f8a;
  --color-brand-800: #0c4375;
  --color-brand-900: #0e355c;
  --color-brand-950: #08213b;
}

body {
  font-family: var(--font-sans);
  background-color: #fcfcfd;
}
